canvas {
    width: 100%;
}
@font-face {
    font-family: 'Alagard';
    src: url('../fonts/alagard.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Alagard', sans-serif;
    background-color: #000000;
    background-image: url('../menu/forest.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.login-box {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}
.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-box [type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}